h4 {
  color: #0079c1;
}

.speaker-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86vw;
  margin: auto;
}

.speaker-container {
  margin: 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.slick-arrow::before {
  color: #98c93d;
}

  .slick-arrow:hover::before {
    color: #98c93d;
  }

  .card-body {
    padding: 10px;
    text-align: center;
  }

  .card-title {
    font-size: 1.2em;
  }

  .speaker-container:hover h4 {
    color: #54bceb;
  }

  .speaker-container:hover {
    background: rgba(200,200,200,0.1);
  }

  .card {
    border: 1px solid transparent;
  }

  .card:hover {
    border: 1px solid rgba(0,0,0,.125);
  } 